<!-- views/create.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo App</a>
</nav>
<body>
  <h1>Create New Todo</h1>
  <form action="/add/admin/todo" method="POST" class="d-flex">
    <input type="text" name="email" class="form-control" placeholder="Enter user email for ToDo">
    <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
    <input type="date" name="date" class="form-control" placeholder="Enter Date" required>
    <input type="text" name="description" class="form-control" placeholder="Enter Description">
    <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
  </form>
</body>
</html>
