<!-- views/start.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo App</a>
</nav>

<div class="container mt-5">
  <p> Admin user is <%= AdminUser %> </p>
  <% if (AdminUser === 'true') { %>
      <p> Hello Admin <%= user.firstName %> </p>
      <p> Welcome to TODO APP </p>  
      <a class="btn btn-md btn-primary mx-2" href="/todo/admin/create">Create New Todo</a>
      <a class="btn btn-md btn-primary mx-2" href="/get/todo">Show all Todo</a>
      <%} else { %>
      <p> Hello User <%= user.firstName %> </p>
      <p> Welcome to TODO APP </p>   
      <a class="btn btn-md btn-primary mx-2" href="/todo/create">Create New Todo</a>
      <a class="btn btn-md btn-primary mx-2" href="/get/todo/<%= userEmail %>">Show all Todo</a>     
  <% } %>
</div>
</html>
